/* important stuff:
        #efb7ce : background image color
        #a8748a : button color
        #704758 : hover over button color
        Garamond, serif : font family
*/

body {
    background-image: url('music_selector_ui.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Garamond, serif;
    overflow: scroll; 
    overflow-x: hidden; /* no horizontal scrolling */
    min-height: 100vh; /* body covers whole viewport height */
    height: 100%; /* full height */
}

h1 {
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 100px;
    font-weight: bold;
}

.stroke {
    /* gives the title a black border around letters */
    filter: drop-shadow(3px 0 0 black)
    drop-shadow(0 3px 0 black)
    drop-shadow(-3px 0 0 black)
    drop-shadow(0 -3px 0 black);
}

input, a{
    border: none;
    color: #a8748a;
    font-family: Garamond, serif;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #a8748a;
    color: white;
    border: 2px solid #704758;
    border-radius: 25px; /* rounds the border */
}

input:hover {
    background-color: #704758;
    color: white;
}

a:hover {
    background-color: #704758;
    color: white;
}

#albumCover {
    margin-top: 50px;
}

p {
    font-size: 30px;
}

#name {
    margin-top: -10px;
}

.container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    margin-left: 300px;
}

.text {
    font-size: 30px;
}

p.block {
    line-height: 2.55;
    font-size: 27px;
}

#add {
    margin-left: 150px;
}

.back {
    position: fixed;
    top: 0;
    left: 0;
}